body {
  text-align: center;
}
h1 {
  margin-bottom: -0.8rem;
}
.catImg {
  width: 50vw; max-width: 400px;
  height: 60vw; max-height: 445px;
  border: 3px solid black;
  border-radius: 10px;
  background-size: cover;
  margin: auto;
}
.catStatus {
  font-size: 2rem;
}
.coinStatus {
  font-size: 1.2rem;
  margin-bottom: -0.6rem;
  padding: 1rem;
}
.coinStatus button {
  margin-left: 2rem;
  font-size: 1.2rem;
}
#modal {
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed; top: 0; left: 0;
  width: 100vw; height: 100vh;
  display: none;
}
.modal-content {
  width: 40vw; max-width: 380px; min-width: 260px;
  height: 30vw; max-height: 400px; min-height: 260px;
  background-color: white;
  margin: 2rem auto; padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.gameBoard {
  width: 80%; height: 60%;
  margin: auto;
}
.gameBoard div {
  padding: 0.5rem;
  border: 1px solid black;
}
.enemyField {
  height: 10%;
  min-height: 20px;
}
.result {
  height: 10%;
  min-height: 20px;
}
.myField {
  height: 30%;
  min-height: 46px;
}
.myField input {
  width: 30%; height: 90%;
}
.modal-content button {
  width: 30%;
  height: 15%;
}